* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:NotoSansHans-Bold;
  }
  
  body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
  }
  


  